streamlit
pandas
numpy
pyyaml
#streamlit-authenticator
streamlit-authenticator==0.3.2

psycopg2-binary
sqlalchemy
st-supabase-connection
supabase==1.0.3
xlsxwriter
pytz
pdfkit
python-docx
streamlit-option-menu
plotly
extra-streamlit-components
streamlit-option-menu
bcrypt
streamlit-aggrid
fpdf==1.7.2
mailjet-rest
